/*-----Move color bar to left-----*/
.Tab .ctx { 
	left: 1px;
}

/*-----Change how inactive tabs look-----*/
.Tab[data-discarded="true"] .title { 
    text-decoration: line-through; 
    opacity: 75%;
}

/*-----Controls Sound Icon location-----*/
.Tab .audio {
    top: 8px !important;
    left: 10px !important;
}

.Tab[data-pin="true"] .audio {
    top: 0px !important;
    left: 16px !important;
}
