.Tab .title {
    display: inline-block;
  }
  
  .Tab:hover .title {
    transform: translateX(calc(-100% + 8rem));
    transition: transform 6s ease;
      transition-delay: 0.64s;
  }
  
  .Tab .title {
    transform: translateX(0);
    transition: transform 0.6s ease-out;
  }
  
  .Tab .ctx { 
      left: 1px;
  }
  
  .Tab[data-discarded="true"] .title { 
      text-decoration: line-through; 
      opacity: 75%;
  }
  
  .Tab .audio {
      top: 8px !important;
      left: 10px !important;
  }
  
  .Tab[data-pin="true"] .audio {
      top: 0px !important;
      left: 16px !important;
  }