:root {
    --autohide-sidebar-extended: 230px; /* width of panel extended */
    --autohide-sidebar-collapsed: 68px; /* width of panel collapsed */
    --sidebar-height: 100%;
}

/* --------Sidebery Auto-hiding Sidebar ----------- */
/* width of panel (grey box) (different from width of each tab) */
#main-window:not([extradragspace="true"])
    #sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"]:not([hidden]) {
    width: var(--autohide-sidebar-collapsed) !important;
    min-width: unset !important;
    z-index: 1;
    transition: all 0.2s ease-in-out; /* doesn't do anything unless you uncomment lower bit of code */
}

/* width of panel (grey box) on hover */
/* uncomment this section if you want the webpage to move when your tabs are extended- otherwise covers */ 
/* #main-window:not([extradragspace="true"])
    #sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"]:not([hidden]):hover {
    width: var(--autohide-sidebar-extended) !important;
    min-width: unset !important;
    z-index: 1;
} */

/* width of tabs */
#main-window:not([extradragspace="true"]) 
    #sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"] #sidebar {
  width: var(--autohide-sidebar-collapsed) !important;
  transition: all 0.2s ease-in-out;
}
/* width of tabs on hover */
#main-window:not([extradragspace="true"]) 
    #sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"]:hover #sidebar {
  width: var(--autohide-sidebar-extended)  !important;
}

/* adjust if your sidebery is not tall enough */
#main-window:not([extradragspace="true"])[inFullscreen]
#sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"],
#main-window:not([extradragspace="true"])
#sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"] {
    height: var(--sidebar-height);
}

:root[tabsintitlebar] {
    --uc-window-control-width: 137px;
}
#nav-bar {
    border-inline: var(--uc-window-drag-space-width, 80px) solid
    var(--toolbar-bgcolor);
    border-inline-style: solid !important;
    border-right-width: calc(
    var(--uc-window-control-width, 0px) +
        var(--uc-window-drag-space-width, 0px)
    );
    padding-top: 0.5px !important;
    margin-left: -80px;
}
#back-button {
    margin-top: -0.5px !important;
}
#forward-button {
    margin-top: -0.5px !important;
}
#reload-button {
    margin-top: -0.5px !important;
}
#PanelUI-button {
    margin-top: -0.5px !important;
}
#nav-bar-overflow-button {
    margin-top: -0.5px !important;
}
:root {
    --uc-toolbar-height: 32px;
    --chrome-content-separator-color: none !important;
}
:root:not([uidensity='compact']) {
    --uc-toolbar-height: 38px;
}
#TabsToolbar {
    visibility: collapse !important;
}
#TabsToolbar .titlebar-buttonbox-container {
    visibility: hidden !important;
}
:root:not([sizemode='maximized']) .titlebar-buttonbox-container {
    margin-top: 3px;
}
:root:not([inFullscreen]) #nav-bar {
    margin-top: calc(0px - var(--uc-toolbar-height));
    z-index: 2;
}
#toolbar-menubar {
    min-height: unset !important;
    height: var(--uc-toolbar-height) !important;
    position: relative;
}
.titlebar-buttonbox {
    z-index: 3 !important;
}
.titlebar-buttonbox * {
    width: 35px;
    height: 38px;
}
#main-menubar {
    -moz-box-flex: 1;
    background-color: var(--toolbar-bgcolor, --toolbar-non-lwt-bgcolor);
    background-clip: padding-box;
    border-right: 30px solid transparent;
    border-image: linear-gradient(
        to left,
        transparent,
        var(--toolbar-bgcolor, --toolbar-non-lwt-bgcolor) 30px
    )
    20/30px;
}
#toolbar-menubar:not([inactive]) {
    z-index: 2;
}
#toolbar-menubar[inactive] > #menubar-items {
    opacity: 0;
    pointer-events: none;
    margin-left: var(--uc-window-drag-space-width, 0);
}
:root[inFullscreen] #nav-bar {
    border-right: none !important;
}

#sidebar-header {
display: none;
}

#sidebar-splitter {
display: none;
}

#sidebar-box {
min-width: 300px !important;
max-width: 300px !important;
}